.jm-rightmenu {
    .k-link {
        color: inherit !important;
    }
    .k-level-1 {
        padding-left: 1rem;
    }

    .k-level-selected {
        background-color: $tb-kendo-disabled-text !important
    }
}
