@page "/largecontent"
@inherits ACore.Blazor.JMPageBase

@using System.Threading


Current UI culture (used for localization): @Thread.CurrentThread.CurrentUICulture.Name
<br />
Current thread culture (used for date and number formatting): @Thread.CurrentThread.CurrentCulture.Name
<br />

<div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div>
<div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div><div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div>
<div class="k-d-flex-col k-justify-content-center">
    <div class="greeting">
        Hello Again, Jacksons Danniels!
    </div>


</div>

