@inherits JMComponentBase;
@using JMCore.Blazor.Services.App
@using Telerik.SvgIcons

<form method="post" action="api/Account/Logout">
    <AntiForgeryTokenInput/>
    <TelerikButton FillMode="flat" Icon="@SvgIcon.Logout" ButtonType="ButtonType.Submit">
    </TelerikButton>
</form>