@layout TelerikLayout
@using JMCore.Blazor.Components.Header
@using JMCore.Blazor.Components.Layouts
@using JMCore.Blazor.Components
@inherits LayoutComponentBase

<DashboardDrawer>
    @* <TopBar> *@
    @*     <HeaderRightPart></HeaderRightPart> *@
    @* </TopBar> *@
    <Body>
        @Body
    </Body>
</DashboardDrawer>